.Button {
    background-color: #3f426b;
    outline: none;
    cursor: pointer;
    border: 1px solid #252741;
    color: #eee;
    font-family: inherit;
    font-size: 0.8em;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #252741;
}
.Button:hover, .Button:active {
    background-color: #63647c;
}
