.Container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.PostContainer {
    width: 50%;
	font-style: inherit;
    border: 0.5px solid #41447a;
    box-shadow: 0 3px 4px #41447a;
    border-radius: 10px;
    margin: 14px 5px;
    padding: 10px 10px;
    background-color: #ccc;
    display: flex;
}
.Title, .Content {
    padding: 5px;
}
.Title {
    border-right: 2px solid #41447a;
}
.PostButton {
    border: none;
    background-color: #ccc;
}
.PostButton.collapsed {
    position: relative;
    float: right;
}
.PostButton.expanded {
    display: none;
}
.PostButton:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #41447a;
}
.Content {
    overflow: hidden;
    line-height: 1.2em;
    height: 3.5em;
    text-align: left;
}
.Content.collapsed{
    overflow: hidden;
}
.Content.expanded{
    overflow: visible;
    height: auto;
}
