.LoginText {
    color: #41447a;
    font-size: 20px;
    margin-bottom: auto;
}
.LoginInput {
    border: 1px solid #41447a;
    border-radius: 10px;
    height: 33px;
    padding: 6px 7px;
    font-size: 15px;
    width: 100%;
    min-width: 120px;
    color: #777;
    margin: 7px;
}
.LoginButton {
    font-weight: 300;
    font-size: 14px;
    border: none;
    background: #41447a;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
} 
.Response {
    color: #41447a;
    font-size: 14px;
}